
h3 {
    color: darkolivegreen;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 2, 0, 0.2);
}
h5{
    color: black;
}
.start-card{
    background-color: lightgrey;
}
img:hover{
    transform: scale(1.1,1.1);
}
.nav-link {
    color: #9a9a9a ;
    font-weight: bold;
}
.nav-link:hover {
    text-decoration: underline;
}
td,tr{
    background-color: whitesmoke!important;
}
table {
    border: 3px solid;
    border-collapse: collapse;
    border-color: black !important;
}
.accordion-button::after {
    filter: brightness(0) invert(1);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
main {
    flex: 1;
}
footer {
    margin-top: auto;
}

