<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elenco Ristoranti</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script language="javascript" src="js/gestioneRistoranti.js" >
  </script>
</head>
<body>
  <table border="1">
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Ubicazione</th>
    </tr>
    <tr th:each="rist : ${ristoranti}">
      <td th:text="${rist.nome}"></td>
      <td th:text="${rist.descrizione}"></td>
      <td th:text="${rist.ubicazione}"></td>
    </tr>
    <!--
    <tr>
      <td>Le Casette di Zio Santino</td>
      <td>Ristorante/Pizzeria</td>
      <td>Rende</td>
    </tr>
    <tr>
      <td>Fratelli la frode</td>
      <td>Pizzeria</td>
      <td>Rende</td>
    </tr>
    -->
  </table>

  <form>
    <label for="nome_rist">Nome Ristorante:</label>
    <input id="nome_rist" type="text" name="nome_ristorante" />
    <br/>
    <label for="desc_rist">Descrizione Ristorante:</label>
    <textarea id="desc_rist" placeholder="Inserisci la descrizione"
              name="descrizione_ristorante">
            </textarea>
    <br/>
    <label for="ub_ristorante">Ubicazione Ristorante:</label>
    <select id="ub_ristorante" name="ubicazione_ristorante">
      <option value="---" selected>---</option>
      <option value="Rende">Rende</option>
      <option value="Cosenza">Cosenza</option>
      <option value="Castrolibero">Castrolibero</option>
    </select>
    <br/>
    <input id="btn_aggiungi" type="button" class="btn btn-success" value="Aggiungi Ristorante alla lista" />
    <input type="reset" class="btn btn-danger" />
  </form>

</body>
</html>
